/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.box{
	width:300px;
	height:300px;
	background-color:mediumpurple;
}
button{
	margin-top:150px;
	background-color:rebeccapurple;
}